<h2>My favorite movies</h2>
<div class="parent">
    <ol class="movies">
        <li class="movieListItem" 
            *ngFor="let eachMovie of movies | async" 
            
            >
            <a routerLink="/detail/{{eachMovie.id}}" style="text-decoration:none;" >
                {{eachMovie.name}} - {{eachMovie.releaseYear}}
            </a>
            
            <div *ngIf="eachMovie === selectedMovie">
            <input type="text" [(ngModel)]="selectedMovie.name" name="" id=""><br><br>
            <input type="text" [(ngModel)]="selectedMovie.releaseYear" name="" id="">
            </div>
        </li>
    </ol>
    <!-- <app-movie-detail [(movie)]="selectedMovie"></app-movie-detail> -->
</div>