<h2>My favorite movies</h2>

<div style="text-align: left;">
    <table style="width: 400px">
        <tr>
            <td>New movie's name:</td>
            <td>
                <input #movieName placeholder="name">
            </td>
        </tr>
        <tr>
            <td>release year: </td>
            <td>
                <input #releaseYear placeholder="release year">
            </td>
        </tr>
        <tr>
            <button (click)="addMovie(movieName.value, releaseYear.value); movieName.value=''; releaseYear.value=''">
                add
            </button>
        </tr>
    </table>
</div>

<div class="parent">
    <ol class="movies">
        <li class="movieListItem" 
            *ngFor="let eachMovie of movies | async" 
            [class.selected]="eachMovie === selectedMovie" 
            (click)="onSelect(eachMovie)"
            >
            <a routerLink="/detail/{{eachMovie.id}}" style="text-decoration:none;" >
                {{eachMovie.name}} - {{eachMovie.releaseYear}}
            </a>
            <!-- {{eachMovie.name}} - {{eachMovie.releaseYear}}
            <div *ngIf="eachMovie === selectedMovie">
            <input type="text" [(ngModel)]="selectedMovie.name" (keyup.enter)="updateMovie()" (blur)="updateMovie()" name="" id=""><br><br>
            <input type="text" [(ngModel)]="selectedMovie.releaseYear" (keyup.enter)="updateMovie()" (blur)="updateMovie()" name="" id="">
            </div> -->
            <button title="delete movie" (click)="deleteMovie(eachMovie.id)">x</button>
        </li>
    </ol>
    <!-- <app-movie-detail [(movie)]="selectedMovie"></app-movie-detail> -->
</div>